# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
foodify/

# Extras
.streamlit/secrets.toml
.DS_Store
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/